Homework/JS1 Math and Variables/js1_math_and_variables.js
L1 - Intro/bug.html
L1 - Intro/Internal_External_Console/external_script.js
L1 - Intro/Internal_External_Console/Internal_External_Console.html
L2 - Data and Variables/Task2_1.js
L3 - Conditionals/T3_Conditions.js
